<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MXDirection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAB94CEA1E99C1DD004A685E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAB94D031E99C1DD004A685E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAB94D0E1E99C1DD004A685E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
